body {
    background-color: #282c34;
    color: white;
}

.table-condensed {
    font-size: auto;
     width:100%;
     overflow: scroll;
     padding: 0 0;
}

.pointer {
    cursor: pointer;
    color: red;
}
